<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="css/style.css">
		<title>ExemploNode</title>
	</head>
	<body>
		<header>
			<h1>Exemplo Node</h1>
		</header>
		<section>
			

			<h2>404: Caminho não existe</h2>

		</section>
		<footer>
				<div id="copyright">
	    			<div id="copyrightfont">
	      				Copyright 2017©
	    			</div>
				</div>
		</footer>
	</body>
</html>
