<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="css/style.css">
		<title>ExemploNode</title>
		<script type="text/javascript" src="javascript/scriptPostGet.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	<body>
		<header>
			<h1>Exemplo Node</h1>
		</header>
		<section>
			<h3>Servidor com as rotas disponíveis:</h3>
			<p><a href="/exemploRest">/exemploRest</a></p>
			<p><a href="/exemploBanco">/exemploBanco</a></p>

			<h3>API</h3>
			<p>GET em /exemploRest
				<button onclick="enviarGet()">GET</button>
			</p>
			<p>POST em /exemploRest/{atributo}
				Atributo:
				<input type="text" id="post_campo" name="post_campo">
				<button onclick="enviarPost()">POST</button>
			</p>

		</section>
		<footer>
				<div id="copyright">
	    			<div id="copyrightfont">
	      				Copyright 2017©
	    			</div>
				</div>
		</footer>
	</body>
</html>
